/*.page-header {
  	background-color: #03463f;
	color: rgb(255, 247, 235);
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
	font-size:150%
}

body {
	background-color: rgb(135, 75, 239);
    padding-left: 15px;
	padding-top: 50px;
}
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
	color: #d4fff2;
	font-family: "Lobster";
	text-transform: uppercase;
	font-size:150%
}
h2 a{
	color: rgb(4, 110, 100);
	font-family:verdana, sans-serif;
	text-transform: uppercase;
	font-size:120%
}
article {
    border: 2px solid rgb(4, 110, 100);
	padding: 10px;
	background-color:#FFF;
}
p {
		border: 2px solid rgb(4, 110, 100);
		padding: 10px;
		/*margin= 20px*/
		/*background-color:rgb(235,255,245);
		font-family:verdana, sans-serif;
		font-size:100%
		color: #000000;

	}
*/

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #9b9b9b;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
	border: 2px solid rgb(4, 110, 100);
	padding: 20px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-default:hover {
    color: #FFFFFF;
    background-color: #C25100;
}